

<ion-content>
   <div style="position: relative;">
     <img src="assets/icon/4.png" style="max-width: 100%;
    border: 0;
    height: 150px;
    width: 100%;">
    <div style="    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;"><p style="    width: 100%;
    text-align: center;
    color: #fff;">Account Detail</p></div>
   </div>
  <div class="manual">
    <ul>
      <li>
        <b>Account name:</b>
      </li>
      <li>
        Jagandeep Singh
      </li>
      <li>
       <b>Account no:</b>
      </li>
      <li>
        632201534855
      </li>
      <li>
        <b>IFSC:</b>
      </li>
      <li>
        ICIC0006322
      </li>
      <li>
       <b> SWIFT:</b>
      </li>
      <li>
        ICICINBB013
      </li>
    </ul>
  </div>
   <div style="text-align: center;
      padding: 10px;">
         <ion-button style="text-transform: uppercase;" (click)="onSubmit()" >Ok</ion-button>
   </div>
</ion-content>

