<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="center-title">Testimonials</ion-title>
        <ion-buttons slot="end">
          <ion-button  class="header-buttons" (click)="notification()">
            <ion-icon src="assets/alert.svg" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button  class="header-buttons" (click)="info()">
            <ion-icon src="assets/info.svg" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-img src="{{testimonials?.image}}"> </ion-img>
  <div padding>
    <h6 class="div__h6--font" text-uppercase><b>{{testimonials?.title}}</b></h6>
        <ion-row class="div__row--display">
          <ion-col class="row__col--display" size="8">
            <span>{{testimonials?.user_service_name}}</span>
          </ion-col>
          <ion-col size="4" no-padding class="col__rating--display">
            <div  class="div__rating--display way_icon">
                <ion-icon name="{{star}}" *ngFor="let star of stars" [ngStyle]="{'color':getColor(star)}">{{testimonials?.rating}}</ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <p>{{testimonials?.description}}</p>
        <a (click)="onLink(testimonials?.url)">{{testimonials?.url}}</a>
  </div>  
  <!-- <div class="footer">
    <ion-row class="footer__row--border">
      <ion-col size="2" no-padding class="footer__col--display">
        <ion-img src="../../assets/profile-user.png" class="img__user"></ion-img>
      </ion-col>
      <ion-col size="9" class="footer__col--display">
        <span class="create__span--font">CREATING BY</span>
        <span class="name__span--font">KELLY JOHN</span>
      </ion-col>
      <ion-col size="1" class="footer__col--display" no-padding>
        <ion-img src="../../assets/right-arrow.svg" class="img__forward"> </ion-img>
      </ion-col>
    </ion-row>
  </div> -->
</ion-content>
