<style type="text/css">
  .vl {
    border-left: 3px solid #7E974D;
    height: 47px;
  }
  .upper{
    width: 100%;
    padding: 15px;
  }
  .app-div-img{
    text-align: center;
    padding: 20px;
    /* background: linear-gradient(#91BD3E,#708C37); */
    color: #fff;
    font-size: 1.0rem;
    text-transform: capitalize;
    border-bottom: 1px solid #827e82;
  }
  .app-img {
    display: inline-block;
    object-fit: cover;
    border: 4px solid #fff;
  }
  /* .app-inner-img{
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
  } */
</style>
<ion-app mode='md'>
  <ion-split-pane>
    <ion-menu style="--width:230px;" menuId="first">
      <ion-header>
        <div class="app-div-img" >
          <div class="app-inner-img">
            <img src="../assets/logo.png" class="app-img">
            <!-- <p>{{user_name}}</p> -->
          </div>
        </div>
      </ion-header>
      <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages;let i=index">
          <ion-item  [routerLink]="[p.url]" detail="false" (click)="value(i,p.url)" [ngStyle]="{'color':p.status ? '#7E974D' : 'rgb(104, 107, 109)' }" lines="none" style="text-transform: capitalize;" >
            <div class="vl"  *ngIf="p.status"></div>
            <div class="upper" [ngStyle]="{'background-color':p.status ? '#ECF4FD' : '#fff'}" style="padding: 12px 0px;">
                <ion-icon [name]="p.icon" item-left style="display: inline-block; color: #708C37; font-size: 20px;margin-left: 5px;
                margin-right: 12px;"></ion-icon>
              <ion-label  #name style="display: inline-block;
              line-height: 16px;">
                
                {{p.title}}
              </ion-label>
            </div>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      </ion-content>
      <ion-footer>
     <ion-list>
        <ion-menu-toggle auto-hide="false" >
          <ion-item  detail="false" (click)="logout()"  lines="none" style="text-transform: capitalize;" >
            <div class="upper"  style="padding: 12px 0px;color: #708C37;font-size: 1.0rem;">
                <ion-icon name="md-log-out" item-left style="display: inline-block; color: #708C37; font-size: 20px;margin-left: 5px;
                margin-right: 12px;"></ion-icon>
              <ion-label  #name style="display: inline-block;
              line-height: 16px;">
               Logout
              </ion-label>
            </div>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>


 <!-- <ion-footer>
        <ion-menu-toggle auto-hide="false">
          <ion-toolbar (click)="logout()">
            <ion-title>Logout</ion-title>
          </ion-toolbar>
        </ion-menu-toggle>
      </ion-footer> -->