.myprofilecontent {
  font-size: 1.0rem;
}
.capitilize{
  text-transform: capitalize;
}
.div-img{
  text-align: center;
  padding: 20px;
}
.user-main-header{
    color: #000;
     height: 45px;

    // border-bottom: 1px solid #cecece;
}
.country_selecter:disabled {
  background: #dddddd !important;
}
.native-input[disabled].sc-ion-input-md {
    opacity: unset;
}
.detail-selecter{
  >.country_selecter{
   >.native-input[disabled].sc-ion-input-md{
      opacity: unset;
   } 
  }
}
.user-img {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.user-inner-img{
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}
.user-camera{
  border: 2px solid #fff;
    position: absolute;
    bottom: 22px;
    right: -3px;
    border-radius: 100px;
    width: 20px;
    height: 19px;
    background: #fff;
}
.user-icon{
      color: #000000;
    font-size: 1.0rem;
    margin-right: 10px;
}
.user-card {
  background: #fff;
     float: left;
}
.user-header{
   float: left;
    width: 100%;
    color: #000;
     height: 45px;
    border-bottom: 1px solid #cecece;
}
.pull-left{
      float: left;
}
.pull-right{
      float: right;
}
.pull-center{
  font-size: 1.0rem;
  font-weight: 500;
}
.pull-center1{
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 30px;
}
.user-content{
  padding: 0;
  width: 100%;
  float: left;
  >ul{
    list-style: none;
    width: 100%;
    float: left;
    >li{
            // width: 45%;
              width: 98%;
              float: left;
              font-size: 1.0rem;
              color: #000;
              text-transform: capitalize;
              padding-bottom: 15px;
              // text-overflow: ellipsis;
              // white-space: nowrap;
              // overflow: hidden;
    }
  }
}
.user-header{
  >ul{
    list-style: none;
    margin: 0;
    padding: 0;
     >li{
    float: left;
  }
  }
 
}


.profile-img-div{
  text-align: center;
}
.center-title{
  // margin-left: 35px;
}
.profile-img{
  margin: auto;
  object-fit:center;
  border-radius: 50%;
}
.bg-login-bg{
  float: left;
  min-height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-image: url(/assets/bg.png);
  background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
}
.bg-login{
  float: left;
    position: relative;
    height: 100%;width: 100%;
    text-align: center;
    padding: 30px;
}
.login-input-gender{
    width: 100%;
    border:none;
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 1.1rem;
  }
.login-input-gender-option{
    color:#000!important;
    float: left;
    width: 50%;
    // height: 30px!important;
    // min-height: unset;
    border:none;
    background-color: transparent;
    border-radius: 10px;
    font-size: 0.8rem;
}
.detail-selecter{
  border: 2px solid #bbb;
    border-radius: 5px;
    text-transform: capitalize;
}
.submit-button{
  width: 80%;
  margin: 20px auto;
}
.edit-profile{
  border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #59474B;
    position: absolute;
    bottom: 26px;
    left: 75%;
    text-align: center;
    box-shadow: 0 0 3px 0px #000;
    >ion-icon{
      font-size: 0.7rem;
      margin-top: 3px;
    }
}

.detail{
  bottom: 10px;
}

.selectbox{
  >.select-placeholder{
      opacity: .5!important;
  }
}
.seg-div {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.seg-btn ion-segment-button.segment-button-has-label.segment-button-has-label-only.segment-button-layout-icon-top.ion-activatable.ion-activatable-instant.hydrated.segment-button-checked {
  width: 100px;
  // padding: 0px 15px 0px 15px;
}

ion-segment.seg-btn.sc-ion-segment-md-h.sc-ion-segment-md-s.hydrated {
  padding: 0px 10px 0px 10px;
}
////////medical profile ////////////
.center-title {
  // margin-left: 35px;
}

.bg-login-bg {
  float: left;
  min-height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-image: url(/assets/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-login {
  float: left;
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 30px;
}

.next-button {
  width: 80%;
  margin: 40px auto;
}

.background-selected {
  box-shadow: inset 0 0 10px #aaa;
  background: #ddd;
  visibility: visible;
}

.background {
  visibility: visible;
}

.sc-ion-segment-ios-h.sc-ion-segment-ios-s{
.segment-button-checked {
      border-bottom: 2px solid #708c3a;
  }
 
  ion-label{
    padding-bottom: 12px;
  }
}

.list-ios{
  margin-bottom: 0px !important;
}

.margin-right{
	margin-right: 15px;
}

.select-country-code{
	padding: 2px 0 2px 0px;
    margin: 0 5px 0 0;
    // background: #ddd;
	>.select-icon{
		visibility: hidden!important;
	}
}