.bg-signup-contant{
    position: relative;
}
.top-header-text{
	display: inline-flex;
    align-items: center;
    margin-left: 15px;
    font-weight: bold;
}
.select-country-code{
	padding: 2px 0 2px 0px;
    margin: 0 5px 0 0;
    // background: #ddd;
	>.select-icon{
		visibility: hidden!important;
	}
}
.top-header{
	background: #708C3A;
	border-radius: 35px 0 0 35px;
	width: 100px;
	height: 35px;
	position: absolute;
	top: 30px;
	right:0;
	z-index: 1;
	color: #fff;
	display: flex;
}
.bg-signup-bg{
	float: left;
	background-attachment: fixed;
	background-image: url(/assets/bg.png);
	background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
}
.bg-signup{
	float: left;
    position: relative;
    height: 100%;width: 100%;
    text-align: center;
    padding-top: 10px;
}
.border-class{
	border: 3px solid rgba(0, 0, 0, 0.15);
    float: left;
    margin: 10px 10%;
    width: 80%;
    overflow: hidden;
    border-radius: 25px;
}
.margin-right{
	margin-right: 15px;
}
.signup-button{
	height:50px;
	float:left;
	width: 80%;
	margin: 10px 10%;
	font-weight: bold;
	text-transform: none;
	font-size: 1rem;
}
.signup-button:hover{
    height:50px;
	float:left;
	width: 80%;
	margin: 10px 10%;
	font-weight: bold;
	text-transform: none;
	font-size: 1rem;
	background-color: #fff4e0;
}
.signup-button:focus{
   height:50px;
	float:left;
	width: 80%;
	margin: 10px 10%;
	font-weight: bold;
	text-transform: none;
	font-size: 1rem;
	background-color: #fff4e0;
}
.login-button:focus{
	font-size: 1rem;
	color:#708C3A;
   font-weight: bold;
   background-color: #fff4e0;
}
.login-button:hover{
	font-size: 1rem;
	color:#708C3A;
   font-weight: bold;
   background-color: #fff4e0;
}

.logo{
	float:left;
	margin: 20px 25%!important;
	width: 50%;
	background: transparent;
	margin: auto

}
.login-text{
	width: 100%;
	float: left;
	margin-top: 30px;
	margin-bottom: 60px;
	font-size: 0.8rem;
	text-align: center;
	>.login-button{
		font-size: 1rem;
		color:#708C3A;
		font-weight: bold;
	}
}