<ion-content text-center>

<div style="position: relative;">
<!-- <ion-icon name="checkmark" style="height: 20px;
width: 40%;max-width: 40%; text-align: center;
color: #708C3A;"></ion-icon> -->

<ion-icon name="checkmark-circle" style="height: 80px;
width: 100%;max-width: 100%; text-align: center;
color: #708C3A;margin-top: 10px;"></ion-icon>
<div style="display: block;"><p style="font-size: 1rem;color: #000000; text-align: center;font-weight: 700;
margin-bottom: 30px;">PAYMENT SUCCESSFUL</p></div>
</div>


<div style="text-align: center;">
<span class="pull-left">
<ion-button style="width: 100%;
height: 40px;text-transform: capitalize;font-size: 1.1rem;margin: 0px;" (click)="onSubmit()">Ok</ion-button>
</span>
<!-- <span class="pull-right">
<ion-button style="width: 80px;
height: 30px;text-transform: capitalize;" (click)="onSubmit(2)">Cancel</ion-button>
</span> -->
</div>
</ion-content>