
.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.profile-img{
	float: right;
	object-fit:cover;
   border-radius: 50px;
}
.dashboard-card{
	width: 100%;
    box-shadow: 2px 2px 5px 2px #ddd!important;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 15px;
}
.dashboard-card1{
	width: 100%;
    box-shadow: none;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 15px;
}
.dashboard-card-div{
	padding: 5px 10px 0;
}
.header-buttons{
	width: 35px;
	--padding-end:0;
	--padding-start:0;
	margin: 0;
}
.center-title{
	// padding-left: 40px;
}

